<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <div class="edit-title">
        <h2>Sobre mí</h2>
        <i routerLink="/about" routerLinkActive='visually-hidden'  class='bi bi-pen-fill edit-icon' *ngIf="login$ | async" heigth="32"></i>
      </div>
      <p>Soy una persona muy reflexiva y apasionada por los números. 
          Me gustan los retos, busco ponerme objetivos difíciles pero alcanzables. 
          Considero que lo más importante es la familia y la salud.
          Disfruto de todo lo que me haga pensar, y siempre busco nuevas victorias que festejar. 
          “Sigue hambriento, sigue alocado. Siempre he deseado eso para mí”
      </p>
    </div>
    <div class="row mb-3">
      <div class="col-lg-4">
        <img [src]="adrian.urlphoto" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content">
        <h3>Web Developer</h3>
        <p class="fst-italic">
          "El software es una gran combinación entre arte e ingeniería"
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-calendar"></i> <strong>Fecha de Nacimiento:</strong> <span>{{adrian.birthdate | date}}</span></li>
              <li><i class="bi bi-geo-alt"></i> <strong>Lugar de Nacimiento:</strong> <span>{{adrian.birthplace}}</span></li>
              <li><i class="bi bi-telephone"></i> <strong>Cel:</strong> <span>(+54) {{adrian.phone}}</span></li>
              <li><i class="bi bi-pin-map"></i> <strong>Ciudad:</strong> <span>{{adrian.address}}</span></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-person"></i> <strong>Edad:</strong> <span>{{edad}}</span></li>
              <li><i class="bi bi-mortarboard"></i> <strong>Nivel de estudios:</strong> <span>{{adrian.studyLevel}}</span></li>
              <li><i class="bi bi-envelope"></i> <strong>Email:</strong> <span>{{adrian.email}}</span></li>
              <li><i class="bi bi-pc"></i> <strong>Ocupación actual:</strong> <span>{{adrian.ocupation}}</span></li>
            </ul>
          </div>
        </div>
        <p>
          Practico el budismo Soka désde hace 2 años y colaboro en impulsar la revolución humana de 
          Nichiren Daishonin. <br>
          "Si enciendes una luz para iluminar el camino de otro, incluso iluminarás tu propio camino" 
          南 無 妙 法 蓮 華 經
        </p>
      </div>
    </div>
    <div routerLinkActive="visually-hidden" [routerLinkActiveOptions]="{exact: true}">
      <form class="form-group" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col m-3">
            <div class="row form-group">
              <label for="birthdate" class="mb-1">Fecha de Nacimiento:</label>
              <input type="date" name="birthdate" class="form-ctrl" id="birthdate" 
                (change)="SendDataonChange($event)" formControlName="birthdate" (keyup)="changeField($event)" [ngClass]="{'form-ctrl-error':formGroup.get('birthdate').touched && formGroup.get('birthdate').errors}">
                <div class="alert-danger" role="alert" *ngIf="formGroup.get('birthdate').touched && formGroup.get('birthdate').errors">{{getError('birthdate')}}</div>
            </div>
            <div class="row form-group mt-3 mt-md-0">
              <label for="birthplace" class="mb-1">Lugar de Nacimiento:</label>
              <input type="text" class="form-ctrl" name="birthplace" id="birthplace" (keyup)="changeField($event)" formControlName="birthplace" [ngClass]="{'form-ctrl-error':formGroup.get('birthplace').touched && formGroup.get('birthplace').errors}">
              <div class="alert-danger" role="alert" *ngIf="formGroup.get('birthplace').touched && formGroup.get('birthplace').errors">{{getError('birthplace')}}</div>
            </div>
            <div class="row">
              <label for="phone" class="mb-1">Celular:</label>
              <input type="text" class="form-ctrl" name="phone" id="phone" 
              (keyup)="changeField($event)" formControlName="phone" [ngClass]="{'form-ctrl-error':formGroup.get('phone').touched && formGroup.get('phone').errors}">
              <div class="alert-danger" role="alert" *ngIf="formGroup.get('phone').touched && formGroup.get('phone').errors">{{getError('phone')}}</div>
            </div>
            <div class="row">
              <label for="location" class="mb-1">Ciudad:</label>
              <input type="text" class="form-ctrl" name="address" id="address" (keyup)="changeField($event)" formControlName="address" [ngClass]="{'form-ctrl-error':formGroup.get('address').touched && formGroup.get('address').errors}">
              <div class="alert-danger" role="alert" *ngIf="formGroup.get('address').touched && formGroup.get('address').errors">{{getError('address')}}</div>
            </div>
          </div>
          <div class="col m-3">
            <div class="row form-group mt-3 mt-md-0">
              <label for="level" class="mb-1">Nivel de Estudios:</label>
              <input type="text" class="form-ctrl" name="studyLevel" id="studyLevel" (keyup)="changeField($event)" formControlName="studyLevel" [ngClass]="{'form-ctrl-error':formGroup.get('studyLevel').touched && formGroup.get('studyLevel').errors}">
              <div class="alert-danger" role="alert" *ngIf="formGroup.get('studyLevel').touched && formGroup.get('studyLevel').errors">{{getError('studyLevel')}}</div>
            </div>
            <div class="row">
              <label for="email" class="mb-1">Email:</label>
              <input type="email" class="form-ctrl" name="email" id="email" (keyup)="changeField($event)" formControlName="email" [ngClass]="{'form-ctrl-error':formGroup.get('email').touched && formGroup.get('email').errors}">
              <div class="alert-danger" role="alert" *ngIf="formGroup.get('email').touched && formGroup.get('email').errors">{{getError('email')}}</div>
            </div>
            <div class="row">
              <label for="ocupation" class="mb-1">Ocupación actual:</label>
              <input type="text" class="form-ctrl" name="ocupation" id="ocupation" (keyup)="changeField($event)" formControlName="ocupation" [ngClass]="{'form-ctrl-error':formGroup.get('ocupation').touched && formGroup.get('ocupation').errors}">
              <div class="alert-danger" role="alert" *ngIf="formGroup.get('ocupation').touched && formGroup.get('ocupation').errors">{{getError('ocupation')}}</div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="m-3"><button type="button" class="bttn bttn-danger" routerLink="" (click)="restoreData()">Cancelar</button></div>
          <div class="m-3"><button type="reset" class="bttn bttn-primary">Limpiar</button></div>
          <div class="m-3"><button type="button" class="bttn bttn-success" routerLink="" (click)="onSubmit()" [disabled]="formGroup.invalid">Guardar cambios y volver</button></div>
        </div>
      </form>
    </div>
  </div>
</section><!-- End About Section -->