  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a id="hero-nav-id" href="#hero" class="nav-link scrollto" [ngClass]="{'active':activo == 'hero'}" (click)="activo = 'hero'"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a id="about-nav-id" href="#about" class="nav-link scrollto" [ngClass]="{'active':activo == 'about'}" (click)="activo = 'about'"><i class="bx bx-user"></i> <span>Sobre Mí</span></a></li>
        <li><a id="skills-nav-id" href="#skills" class="nav-link scrollto" [ngClass]="{'active':activo == 'skills'}" (click)="activo = 'skills'"><i class="bx bx-server"></i> <span>Skills</span></a></li>
        <li><a id="resume-nav-id" href="#resume" class="nav-link scrollto" [ngClass]="{'active':activo == 'resume'}" (click)="activo = 'resume'"><i class="bx bx-file-blank"></i> <span>Resumen</span></a></li>
        <li><a id="portfolio-nav-id" href="#portfolio" class="nav-link scrollto" [ngClass]="{'active':activo == 'proyects'}" (click)="activo = 'proyects'"><i class="bx bx-book-content"></i> <span>Proyectos</span></a></li>
        <li><a id="contact-nav-id" href="#contact" class="nav-link scrollto" [ngClass]="{'active':activo == 'contacto'}" (click)="activo = 'contacto'"><i class="bx bx-envelope"></i> <span>Contacto</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header>
  <!-- End Header -->
