.login{
    display: none;
    align-items: center;
    justify-content: end;
    top: 5px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
}

.logo{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 5px;
    padding: 0.1rem 0.8rem;
    font-size: 1rem;
    font-weight: 400;
    z-index: 1;
}

.logo-text{
    margin: 0 0 0 2px;
    padding: 0.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login p{
    font-size: 1rem;
    padding: 0;
    margin: 0px 2px;
}

.active{
    display: flex;
}

.form{
    &-ctrl{
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        margin-bottom: .8rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        appearance: none;
        border-radius: 0.375rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &-error{
            border-color: red;
        }
    }
}

.alert-danger{
    position: relative;
    bottom: 1rem;
    color: red;
}

.bttn{
    text-align: center;
    padding: 10px 35px;
    border-radius: 50px;
    color: white;
    border: 0;
    &-danger{
        background-color: rgb(223, 43, 43);
    }
    &-primary{
        background-color: #0563bb;
        &-sesion{
            width: 50%;
            margin: 2px;
        }
    }
    &-success{
        background-color: rgb(39, 158, 39);
        &-sesion{
            width: 50%;
            margin: 2px;
        }
    }
}

.sesion-contain{
    align-self: center;
}

@media (max-width: 768px){
    .login{
        justify-content: flex-start;
        margin-left: 5px;
    }
}

@media (max-width: 425px){

    .bttn{
        text-align: center;
        padding: 10px 20px;
        border-radius: 50px;
        color: white;
        border: 0;
        &-danger{
            background-color: rgb(223, 43, 43);
        }
        &-primary{
            background-color: #0563bb;
            &-sesion{
                width: 100%;
                margin: 1px;
            }
        }
        &-success{
            background-color: rgb(39, 158, 39);
            &-sesion{
                width: 100%;
                margin: 1px;
            }
        }
    }
}