<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Proyectos</h2>
        <p>Comparto todos los proyectos realizados como parte de mi aprendizaje.</p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">app</li>
            <li data-filter=".filter-web">web</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div *ngFor="let proyect of proyectos; let i=index" class="col-lg-4 col-md-6 portfolio-item" [ngClass]="'filter-' + proyect.type">
          <div class="portfolio-wrap">
            <div class="embed-responsive embed-responsive-21by9">
              <iframe class="embed-responsive-item" [src]="proyect.linkProyect | safe" scrolling="no"></iframe>
            </div>
            <div class="portfolio-info">
              <h4>{{proyect.title}}</h4>
              <p>{{proyect.type}}</p>
              <div class="portfolio-links">
                <a class="portfolio-lightbox" data-gallery="portfolioGallery" title="Expandir imagen" (click)="modal.showModal(); setDataModal(proyect.linkProyect, proyect.title)" style="cursor: pointer;"><i class="bx bx-plus"></i></a>
                <a [href]="proyect.linkProyect" class="portfolio-details-lightbox" data-glightbox="type: external" [title]="proyect.title" target="_blank"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Section -->
  <app-modal #modal [title]="proyectName">
    <iframe class="modalframe" [src]="proyectLink | safe"></iframe>
  </app-modal>

