  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="fluid">
      <h3>Adrián Martínez</h3>
      <p>"Tu trabajo va a suponer gran parte de tu vida, y la única forma de estar totalmente satisfecho es 
        haciendo algo que creas que es un gran trabajo. Y la única forma de hacer un gran trabajo es hacer lo que amas" <br> Steve Jobs.</p>
      <div class="social-links">
        <a href="https://twitter.com/Madicode" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/adrian.srh.77" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
        <!-- <a href="#" class="instagram"><i class="bx bxl-instagram" target="_blank"></i></a> -->
        <a href="https://github.com/MartinezRobledo" class="google-plus" target="_blank"><i class="bx bxl-github"></i></a>
        <a href="https://www.linkedin.com/in/adri%C3%A1n-martinez-5543a4229/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Mi Portfolio</span></strong>. Todos los derechos reservados
      </div>
      <div class="credits">
        Designed by Adrian Martinez
      </div>
    </div>
  </footer><!-- End Footer -->
