.edit-title{
    display: flex;
    justify-content: center;
}
.edit-icon{
    background-color: gray;
    color: white !important;
    opacity: 0.5;
    font-size: 12px;
    margin: 0 0 36px 10px;
    padding: 6px;
    border-radius: 30%;
    cursor: pointer;
    transition: all 0.5s ease;
}
.edit-icon:hover{
    opacity: 1;
    background-color: rgb(14, 112, 250);
    transform: scale(1.2);
}

.m-close{
    margin: -10px 15px 0 0 !important;
}
.index{
    z-index:10 !important;
}