<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <div class="edit-title">
        <h2>Resumen</h2>
        <i routerLink="/resumen" routerLinkActive='visually-hidden'  class='bi bi-pen-fill edit-icon' *ngIf="estadoDeSesion$ | async"></i>
      </div>
      <p>Me recibí de técnico en Electrónica en la EESTN°1 De Merlo y fue ahí dónde hice mi primer contacto 
          con la programación, la cuál luego se convertiría en una de mis mayores pasiones.
          También soy un amante de la matemática y la física, los gustos que me llevaron a estudiar la carrera de 
          ingeniería. Comence estudiando ingeniería electronica, luego pase por industrial hasta que finalmente 
          gracias a un curso de programacion en C++ brindado por la UNLaM descubrí mi talento 
          para programar.
      </p>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">Educación</h3>
        <div class="d-flex flex-row"  *ngFor="let education of formacion; let i=index">
          <button class="rounded-circle btn btn-danger p-2 btn-close m-close" (click)="eliminarFormacion(i)" *ngIf="router.url === '/resumen'"></button>
          <div class="resume-item p-4">
            <h4>{{education.degree}}</h4>
            <h5>{{education.since}}-{{education.until}}</h5>
            <div class="d-flex flex-row p-1 m-1">
                <div><img  [src]="education.logo" [alt]="education.institution" width="50" height="50"></div>
                <div><p class="col-11 m-0 p-2 align-self-center"><b><em>{{education.institution}}</em></b></p></div>
            </div>
            <p class="mb-0">{{education.syllabus}}</p>
            <a [href]="education.linkToSyllabus">
                {{education.linkToSyllabus}}</a>
          </div>
        </div>
        <div class="d-flex flex-row">
          <button class="rounded-circle btn btn-success" *ngIf="router.url === '/resumen'" (click)="modal.statementModal(modalActive)">+</button>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">Experiencia Laboral</h3>
        <div class="d-flex flex-row"  *ngFor="let exp of experiencia; let i=index">
          <button class="rounded-circle btn btn-danger p-2 btn-close m-close" (click)="eliminarExperiencia(i)" *ngIf="router.url === '/resumen'"></button>
          <div class="resume-item p-4">
            <h4>{{exp.rol}}</h4>
            <h5>{{exp.since}}-{{exp.until}}</h5>
            <div class="d-flex flex-row p-1 m-1">
                <div><img  [src]="exp.logo" [alt]="exp.empresa" width="50" height="50"></div>
                <div><p class="col-11 m-0 p-2 align-self-center"><b><em>{{exp.empresa}}</em></b></p></div>
            </div>
            <p class="mb-0">{{exp.descripcion}}</p>
            <a [href]="exp.linkALaEmpresa">
                {{exp.linkALaEmpresa}}</a>
          </div>
        </div>
        <div class="d-flex flex-row">
          <button class="rounded-circle btn btn-success" *ngIf="router.url === '/resumen'" (click)="modal2.statementModal(modalActive)">+</button>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div routerLinkActive="visually-hidden" [routerLinkActiveOptions]="{exact: true}">
              <form class="php-email-form" #updateForm="ngForm">
              </form>
        <div class="d-flex justify-content-center">
          <div class="m-3"><button class="bttn bttn-success" routerLink="">Volver</button></div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Resume Section -->
<app-modal #modal [title]="'NUEVA FORMACIÓN'">
  <form class="php-email-form" [formGroup]="resumeForm" (ngSubmit)="onSubmit(); modal.statementModal(!modalActive)">
    <div class="form-group">
      <label for="degree">Carrera o Curso:</label>
      <input type="text" name="degree" class="form-ctrl" id="degree" placeholder="Título" formControlName="degree" [ngClass]="{'form-ctrl-error': resumeForm.get('degree').touched && resumeForm.get('degree').errors}">
      <div class="alert-danger" role="alert" *ngIf="resumeForm.get('degree').touched && resumeForm.get('degree').errors">{{getError('degree')}}</div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="since">Desde:</label>
        <input type="text" name="since" class="form-ctrl" id="since" placeholder="Año de inicio" formControlName="since" [ngClass]="{'form-ctrl-error': resumeForm.get('since').touched && resumeForm.get('since').errors}">
        <div class="alert-danger" role="alert" *ngIf="resumeForm.get('since').touched && resumeForm.get('since').errors">{{getError('since')}}</div>
      </div>
      <div class="col-md-6 form-group">
        <label for="until">Hasta:</label>
        <input type="text" name="until" class="form-ctrl" id="until" placeholder="Año de finalización" formControlName="until" [ngClass]="{'form-ctrl-error': resumeForm.get('until').touched && resumeForm.get('until').errors}">
        <div class="alert-danger" role="alert" *ngIf="resumeForm.get('until').touched && resumeForm.get('until').errors">{{getError('until')}}</div>
      </div>
    </div>
    <div class="form-group mt-3">
      <label for="institution">Institución académica:</label>
      <input type="text" class="form-ctrl" name="institution" id="institution" placeholder="Institución" formControlName="institution" [ngClass]="{'form-ctrl-error': resumeForm.get('institution').touched && resumeForm.get('institution').errors}">
      <div class="alert-danger" role="alert" *ngIf="resumeForm.get('institution').touched && resumeForm.get('institution').errors">{{getError('institution')}}</div>
    </div>
    <div class="form-group mt-3">
      <label for="syllabus">Plan: (o temas vistos)</label>
      <input type="text" class="form-ctrl" name="syllabus" id="syllabus" placeholder="Plan de Estudios" formControlName="syllabus" [ngClass]="{'form-ctrl-error': resumeForm.get('syllabus').touched && resumeForm.get('syllabus').errors}">
      <div class="alert-danger" role="alert" *ngIf="resumeForm.get('syllabus').touched && resumeForm.get('syllabus').errors">{{getError('syllabus')}}</div>
    </div>
    <div class="form-group mt-3 mb-3">
      <label for="linkToSyllabus">Link al temario: (opcional)</label>
      <input type="text" class="form-ctrl" name="linkToSyllabus" id="linkToSyllabus" placeholder="Link al plan de estudios" formControlName="linkToSyllabus" [ngClass]="{'form-ctrl-error': resumeForm.get('linkToSyllabus').touched && resumeForm.get('linkToSyllabus').errors}">
      <div class="alert-danger" role="alert" *ngIf="resumeForm.get('linkToSyllabus').touched && resumeForm.get('linkToSyllabus').errors">{{getError('linkToSyllabus')}}</div>
    </div>
    <div class="form-group mt-3 mb-3">
      <label for="linkToSyllabus">Link al Icono: (opcional)</label>
      <input type="text" class="form-ctrl" name="logo" id="logo" placeholder="Link al logo" formControlName="logo" [ngClass]="{'form-ctrl-error': resumeForm.get('logo').touched && resumeForm.get('logo').errors}">
      <div class="alert-danger" role="alert" *ngIf="resumeForm.get('logo').touched && resumeForm.get('logo').errors">{{getError('logo')}}</div>
    </div>
    <div class="text-center"><button type="submit" class="bttn bttn-primary" [disabled]="resumeForm.invalid">Añadir</button></div>
  </form>
</app-modal>

<app-modal #modal2 [title]="'NUEVA EXPERIENCIA'">
  <form class="php-email-form" [formGroup]="expForm" (ngSubmit)="exponSubmitexp(); modal2.statementModal(!modalActive)">
    <div class="form-group">
      <label for="rol">Cargo laboral:</label>
      <input type="text" name="rol" class="form-ctrl" id="rol" placeholder="Puesto" formControlName="rol" [ngClass]="{'form-ctrl-error': expForm.get('rol').touched && expForm.get('rol').errors}">
      <div class="alert-danger" role="alert" *ngIf="expForm.get('rol').touched && expForm.get('rol').errors">{{getError('rol')}}</div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="since">Desde:</label>
        <input type="text" name="since" class="form-ctrl" id="since" placeholder="Año de inicio" formControlName="since" [ngClass]="{'form-ctrl-error': expForm.get('since').touched && expForm.get('since').errors}">
        <div class="alert-danger" role="alert" *ngIf="expForm.get('since').touched && expForm.get('since').errors">{{getError('since')}}</div>
      </div>
      <div class="col-md-6 form-group">
        <label for="until">Hasta:</label>
        <input type="text" name="until" class="form-ctrl" id="until" placeholder="Año de finalización" formControlName="until" [ngClass]="{'form-ctrl-error': expForm.get('until').touched && expForm.get('until').errors}">
        <div class="alert-danger" role="alert" *ngIf="expForm.get('until').touched && expForm.get('until').errors">{{getError('until')}}</div>
      </div>
    </div>
    <div class="form-group mt-3">
      <label for="empresa">Empresa:</label>
      <input type="text" class="form-ctrl" name="empresa" id="empresa" placeholder="empresa" formControlName="empresa" [ngClass]="{'form-ctrl-error': expForm.get('empresa').touched && expForm.get('empresa').errors}">
      <div class="alert-danger" role="alert" *ngIf="expForm.get('empresa').touched && expForm.get('empresa').errors">{{getError('empresa')}}</div>
    </div>
    <div class="form-group mt-3">
      <label for="descripcion">Descripcion del puesto:</label>
      <input type="text" class="form-ctrl" name="descripcion" id="descripcion" placeholder="Desarrollo web Angular" formControlName="descripcion" [ngClass]="{'form-ctrl-error': expForm.get('descripcion').touched && expForm.get('descripcion').errors}">
      <div class="alert-danger" role="alert" *ngIf="expForm.get('descripcion').touched && expForm.get('descripcion').errors">{{getError('descripcion')}}</div>
    </div>
    <div class="form-group mt-3 mb-3">
      <label for="linkALaEmpresa">Link a la Empresa: (opcional)</label>
      <input type="text" class="form-ctrl" name="linkALaEmpresa" id="linkALaEmpresa" placeholder="www.google.com" formControlName="linkALaEmpresa" [ngClass]="{'form-ctrl-error': expForm.get('linkALaEmpresa').touched && expForm.get('linkALaEmpresa').errors}">
      <div class="alert-danger" role="alert" *ngIf="expForm.get('linkALaEmpresa').touched && expForm.get('linkALaEmpresa').errors">{{getError('linkALaEmpresa')}}</div>
    </div>
    <div class="form-group mt-3 mb-3">
      <label for="logo">Link al Logo: (opcional)</label>
      <input type="text" class="form-ctrl" name="logo" id="logo" placeholder="https://google.com/logo-Google.png" formControlName="logo" [ngClass]="{'form-ctrl-error': expForm.get('logo').touched && expForm.get('logo').errors}">
      <div class="alert-danger" role="alert" *ngIf="expForm.get('logo').touched && expForm.get('logo').errors">{{getError('logo')}}</div>
    </div>
    <div class="text-center"><button type="submit" class="bttn bttn-primary" [disabled]="expForm.invalid">Añadir</button></div>
  </form>
</app-modal>