<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <div class="edit-title">
        <h2>Resumen</h2>
        <i routerLink="/resumen" routerLinkActive='visually-hidden'  class='bi bi-pen-fill edit-icon' *ngIf="edit" (click)="validateEdition()"></i>
      </div>
      <p>Me recibí de tecnico en Electrónica en la EESTN°1 De Merlo y fue ahi donde hice mi primer contacto 
          con la programacion, la cual luego se convertiría en una de mis mayores pasiones.
          Tambien soy un amante de la matemática y la física, los gustos que me llevaron a estudiar la carrera de 
          ingeniería. Comence estudiando ingeniería electronica, luego pase por industrial hasta que finalmente 
          gracias a un curso de programacion competitiva brindado por la UNLaM para el ICPC descubri mi talento 
          para la programación.
      </p>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">Educación</h3>
        <div class="d-flex flex-row"  *ngFor="let education of formation; let i=index">
          <button class="rounded-circle btn btn-danger p-2 btn-close m-close" (click)="eliminarElemento(i)" *ngIf="edition"></button>
          <div class="resume-item p-4">
            <h4>{{education.degree}}</h4>
            <h5>{{education.rangeTime}}</h5>
            <div class="d-flex flex-row p-1 m-1">
                <div><img  [src]="education.icon" [alt]="education.institution" width="50" height="50"></div>
                <div><p class="col-11 m-0 p-2 align-self-center"><b><em>{{education.institution}}</em></b></p></div>
            </div>
            <p class="mb-0">{{education.syllabus}}</p>
            <a [href]="education.linkToSyllabus">
                {{education.linkToSyllabus}}</a>
          </div>
        </div>
        <div class="d-flex flex-row">
          <button class="rounded-circle btn btn-success" *ngIf="edition" (click)="modal.showModal()">+</button>
        </div>
      </div>
      <div class="col-lg-6" hidden>
        <h3 class="resume-title">Experiencia Laboral</h3>
        <div class="resume-item">
          <h4>Una experiencia</h4>
          <h5>2019 - Present</h5>
          <p><em>Experion, New York, NY </em></p>
          <ul>
            <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
            <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>
            <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>
            <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Otra experiencia</h4>
          <h5>2017 - 2018</h5>
          <p><em>Stepping Stone Advertising, New York, NY</em></p>
          <ul>
            <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li>
            <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
            <li>Recommended and consulted with clients on the most appropriate graphic design</li>
            <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div routerLinkActive="visually-hidden" [routerLinkActiveOptions]="{exact: true}">
              <form class="php-email-form" #updateForm="ngForm">
              </form>
        <div class="d-flex justify-content-center">
          <div class="m-3"><button class="btn btn-danger" (click)="reset()">Resetear Cambios</button></div>
          <div class="m-3"><a class="btn btn-success" routerLink="/" (click)="saveChanges()">Guardar cambios y volver</a></div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Resume Section -->
<app-modal #modal [title]="'NUEVA FORMACIÓN'">
  <form class="php-email-form" #resumeForm="ngForm" (ngSubmit)="onSubmit(resumeForm); modal.hideModal()">
    <div class="form-group mb-3">
      <label for="degree">Carrera o Curso:</label>
      <input type="text" name="degree" class="form-control" id="degree" placeholder="Título" required ngModel>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="since">Desde:</label>
        <input type="text" name="since" class="form-control" id="since" placeholder="Año de inicio" required ngModel>
      </div>
      <div class="col-md-6 form-group">
        <label for="until">Hasta:</label>
        <input type="text" name="until" class="form-control" id="until" placeholder="Año de finalización" required ngModel>
      </div>
    </div>
    <div class="form-group mt-3">
      <label for="institution">Institución académica:</label>
      <input type="text" class="form-control" name="institution" id="institution" placeholder="Institución" required ngModel>
    </div>
    <div class="form-group mt-3">
      <label for="syllabus">Plan: (o temas vistos)</label>
      <input type="text" class="form-control" name="syllabus" id="syllabus" placeholder="Plan de Estudios" required ngModel>
    </div>
    <div class="form-group mt-3 mb-3">
      <label for="linkToSyllabus">Link al temario: (opcional)</label>
      <input type="text" class="form-control" name="linkToSyllabus" id="linkToSyllabus" placeholder="Link al plan de estudios" ngModel>
    </div>
    <div class="form-group mt-3 mb-3">
      <label for="linkToSyllabus">Link al Icono: (opcional)</label>
      <input type="text" class="form-control" name="icon" id="icon" placeholder="Link al icono" ngModel>
    </div>
    <div class="text-center"><button type="submit" class="btn btn-primary">Añadir</button></div>
  </form>
</app-modal>