<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Contacto</h2>
    </div>

    <div class="row mt-1">

      <div class="col-lg-4">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Ubicacion:</h4>
            <p>Merlo, Buenos Aires, Argentina</p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>adrianfmart@gmail.com</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Cel:</h4>
            <p>(+54) 1128932478</p>
          </div>

        </div>

      </div>

      <div class="col-lg-8 mt-5 mt-lg-0">

        <form class="php-email-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Tu Nombre" formControlName="name">
              <div class="alert alert-danger" role="alert" *ngIf="contactForm.get('name').touched && contactForm.get('name').errors">{{getError('name')}}</div>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input type="email" class="form-control" name="email" id="email" placeholder="Tu Email" formControlName="email">
              <div class="alert alert-danger" role="alert" *ngIf="contactForm.get('email').touched && contactForm.get('email').errors">{{getError('email')}}</div>
            </div>
          </div>
          <div class="form-group mt-3">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" formControlName="subject">
            <div class="alert alert-danger" role="alert" *ngIf="contactForm.get('subject').touched && contactForm.get('subject').errors">{{getError('subject')}}</div>
          </div>
          <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Mensaje" formControlName="message"></textarea>
            <div class="alert alert-danger" role="alert" *ngIf="contactForm.get('message').touched && contactForm.get('message').errors">{{getError('message')}}</div>
          </div>
          <div class="text-center"><button type="submit" [disabled]="contactForm.invalid">Enviar Mensaje {{contactForm.valid}}</button></div>
        </form>

      </div>

    </div>

  </div>
</section><!-- End Contact Section -->