<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0" [ngClass]="{'mobile-nav-active':toggle}">
  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <app-header></app-header>
  <app-banner></app-banner>

  <main id="main">
    <app-about-me></app-about-me>
    <app-skills></app-skills>
    <app-resumen></app-resumen>
    <app-proyects></app-proyects>
    <app-contacto></app-contacto>
  </main><!-- End #main -->

  <app-footer></app-footer>
  
</body>
