<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Skills <a routerLink="/skills" routerLinkActive='active-link'><i class='bx bx-edit-alt' *ngIf="edit"></i></a></h2>
        <p>Me gusta trabajar en equipo, colaborar con los demás, comunicarme de forma asertiva y aprender. 
            Me resulta facil adaptarme a los cambios e integrarme con otras personas. 
            Busco siempre crecer tanto como persona como profesionalmente y ayudar a los demas a que tambien logren sus objetivos.
            Lo que me motiva a estar en constante aprendizaje es lograr tener el conocimiento suficiente <br>como para hacer realidad mis ideas.
        </p>
      </div>

      <div class="row skills-content">
        <div class="col-lg-6">
          <div *ngFor="let skill of skills.slice(0,(skills.length)/2); let i=index">
            <div class="progress">
              <span class="skill">{{skill.name}}<i class="val">{{skill.value}}%</i></span>
                  <p><ngb-progressbar [type]="skill.type" [value]="skill.value"></ngb-progressbar></p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div *ngFor="let skill of skills.slice((skills.length)/2, skills.length); let i=index">
            <div class="progress">
              <span class="skill">{{skill.name}}<i class="val">{{skill.value}}%</i></span>
                  <p><ngb-progressbar [type]="skill.type" [value]="skill.value"></ngb-progressbar></p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="false">
        <form class="php-email-form" #updateForm="ngForm" (ngSubmit)="onSubmit(updateForm)">
          <div class="row m-3">
            <div class="col-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Ejemplo: HTML5" ngModel>
            </div>
            <div class="col-3 form-group mt-3 mt-md-0">
              <input type="number" class="form-control" name="value" id="value" placeholder="Value: 95" required ngModel>
            </div>
            <div class="col-3">
              <button class="btn btn-primary" type="submit">Añadir</button>
            </div>
          </div>
        </form>
        <div class="text-center m-3"><a class="btn btn-success" routerLink="/">Guardar cambios y volver</a></div>
    </div>
    </div>
</section><!-- End Skills Section -->