<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Skills<div *ngIf="mostrar">editar</div></h2>
        <p>Me gusta trabajar en equipo, colaborar con los demás, comunicarme de forma asertiva y aprender. 
            Me resulta facil adaptarme a los cambios e integrarme con otras personas. 
            Busco siempre crecer tanto como persona como profesionalmente y ayudar a los demas a que tambien logren sus objetivos.
            Lo que me motiva a estar en constante aprendizaje es lograr tener el conocimiento suficiente <br>como para hacer realidad mis ideas.
        </p>
      </div>

      <div class="row skills-content">
        <div class="col-lg-6">
          <div *ngFor="let skill of skills.slice(0,(skills.length)/2); let i=index">
            <div class="progress">
              <span class="skill">{{skill.name}}<i class="val">{{skill.value}}%</i></span>
                  <p><ngb-progressbar [type]="skill.type" [value]="skill.value"></ngb-progressbar></p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div *ngFor="let skill of skills.slice((skills.length)/2, skills.length); let i=index">
            <div class="progress">
              <span class="skill">{{skill.name}}<i class="val">{{skill.value}}%</i></span>
                  <p><ngb-progressbar [type]="skill.type" [value]="skill.value"></ngb-progressbar></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Skills Section -->