    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Skills</h2>
            <p>Me gusta trabajar en equipo, colaborar con los demás, comunicarme de forma asertiva y aprender. 
                Me resulta facil adaptarme a los cambios e integrarme con otras personas. 
                Busco siempre crecer tanto como persona como profesionalmente y ayudar a los demas a que tambien logren sus objetivos.
                Lo que me motiva a estar en constante aprendizaje es lograr tener el conocimiento suficiente <br>como para hacer realidad mis ideas.
            </p>
          </div>
  
          <div class="row skills-content">
  
            <div class="col-lg-6">
  
              <div class="progress">
                <span class="skill">HTML <i class="val">95%</i></span>
                    <p><ngb-progressbar type="success" [value]="95"></ngb-progressbar></p>
              </div>

              <div class="progress">
                <span class="skill">CSS <i class="val">80%</i></span>
                <p><ngb-progressbar type="success" [value]="80"></ngb-progressbar></p>
              </div>
  
              <div class="progress">
                <span class="skill">JavaScript <i class="val">70%</i></span>
                <p><ngb-progressbar type="success" [value]="70"></ngb-progressbar></p>
              </div>

              <div class="progress">
                <span class="skill">TypeScript <i class="val">60%</i></span>
                <p><ngb-progressbar type="primary" [value]="60"></ngb-progressbar></p>
              </div>

              <div class="progress">
                <span class="skill">Angular <i class="val">50%</i></span>
                <p><ngb-progressbar type="primary" [value]="50"></ngb-progressbar></p>
              </div>

              <div class="progress">
                <span class="skill">VUE <i class="val">30%</i></span>
                <p><ngb-progressbar type="danger" [value]="30"></ngb-progressbar></p>
              </div>
  
            </div>
  
            <div class="col-lg-6">
  
              <div class="progress">
                <span class="skill">MySQL <i class="val">70%</i></span>
                <p><ngb-progressbar type="success" [value]="75"></ngb-progressbar></p>
              </div>
  
              <div class="progress">
                <span class="skill">C/C++ <i class="val">90%</i></span>
                <p><ngb-progressbar type="success" [value]="90"></ngb-progressbar></p>
              </div>
  
              <div class="progress">
                <span class="skill">Python <i class="val">10%</i></span>
                <p><ngb-progressbar type="danger" [value]="10"></ngb-progressbar></p>
              </div>

              <div class="progress">
                <span class="skill">Java <i class="val">15%</i></span>
                <p><ngb-progressbar type="danger" [value]="15"></ngb-progressbar></p>
              </div>

              <div class="progress">
                <span class="skill">django <i class="val">5%</i></span>
                <p><ngb-progressbar type="danger" [value]="5"></ngb-progressbar></p>
              </div>

              <div class="progress">
                <span class="skill">SringBoot <i class="val">5%</i></span>
                <p><ngb-progressbar type="danger" [value]="5"></ngb-progressbar></p>
              </div>
  
            </div>
  
          </div>
  
        </div>
      </section><!-- End Skills Section -->